body {
    background-color: #f7f5f3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.clearfix {
    display: block;
    width: 100%;
    clear: both;
    content: ' ';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border-style: none;
    outline: none;
    cursor: pointer;
}
nav {
    height: 60px;
    line-height: 60px;  
    position: relative;
    background: #2c4762;
}
nav a#left {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    color: #f4f6f7;
    font-size: 19px;
    margin-left: 8%;
    float: left;
}
nav a#right {
    display: inline-block;
    width: 120px;
    height: 37px;
    border-radius: 4px;
    line-height: 35px;
    border: 1px solid #6c7f91;
    color: #fafafa;
    text-align: center;
    font-size: 15px;
    float: right;
    position: absolute;
    top: calc(50% - 18px);
    right: 8%;
}
nav a#right i {
    color: #c6cdd4;
    font-size: 12px;
    margin-right: 8%;
}
content div#intro {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 7%;
    position: relative;
}
content div#intro h1 {
    color: #00b5ad;
    text-transform: uppercase;
    font-size: 3em;
}
content div#intro p {
    display: inline-block;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    margin-top: 1.5%;
    font-size: 1em;
    word-spacing: .9px;
    width: 30%;
    position: absolute;
    left: 35%;
}
div#form {
    padding-top: 2.2%;
    height: 230px;
    position: relative;
}
div#form input, button, a {
    display: block;
    position: absolute;
}
input {
    width: 25.5%;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0.65em 1.2em;
    outline: none;  
    background-color: rgba(255,255,255,0.7);
}
input:focus {
    border: 1.4px solid rgba(0,0,0,0.15);
    border-left: 0.5em solid rgba(0,0,0,0.15);
    padding-left: 0.8em;
    transition: all 0.2s ease-in;
}
input::-webkit-input-placeholder {
    color: rgba(170,170,170,1);
    font-size: 1rem;
}
input::-moz-placeholder {
    color: rgba(170,170,170,1);
    font-size: 1rem;
}
input#email {
    left: 37.25%;
}
input#password {
    top: 37%;
    left: 37.25%;
}
button#signin {
    width: 25.5%;
    height: 38px;
    background-color: #5BBD72;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9em;
    border: .8px solid #54ae69;
    top: 63%;
    left: 37.25%;
    border-radius: 3px;
}
button#signin:hover {
    background-color: #5dc575;
}
div#form a {
    display: inline-block;
    color: #00b5ad;
    font-size: 1rem;
    top: 86%;
    left: 37.25%;
}
div#border {
    width: 100%;
}
div#border {
    height: 38px;
    margin-top: -.2%;
}
div#in_border {
    position: relative;
    height: 100%;
    width: 25.5%;
    transform: translate(146.07%,0);
}
div#in_border div:nth-child(odd) {
    position: absolute;
    height: 0;
    width: 44%;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
div#in_border div#border_left {
    top: 0.8em;
}
div#in_border div#border_right {
    top: 0.8em;
    left: 56%;
}
div#in_border div#border_middle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid rgba(228,226,224,1);
    position: absolute;
    top: -3px;
    left: calc(50% - 16px);
}
div#border_middle div#check {
    height: 7px;
    width: 7px;
    background-color: transparent;
    border-left: 1px solid rgba(154,153,152,1);
    border-bottom: 1px solid rgba(154,153,152,1);
    border-top: none;
    transform: rotate(-45deg) translate(2px,13px);
}
footer {
    width: 100%;
}
div#link {
    width: 36%;
    height: 140px;
    transform: translate(87.48%,0);
    padding-left: .8%;
    padding-top: 1.6%;
}
div#link button {
    width: 32%;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
    position: relative;
}
div#link button#facebook {
    background: #4a6ea9;
    border: 2px solid #4a6ea9;
    padding-left: 1.7em;
    margin-left: 2%;
}
div#link button > img {
    position: absolute;
}
div#link button#facebook img {
    left: 1em;
    top: 0.78em;
}
div#link button#twitter {
    background: #2ba8e0;
    transform: translate(106%,-100%);
    padding-left: 1.5em;
    margin-left: 1%;
}
div#link button#twitter img {
    left: 1.3em;
    top: 0.54em;
}
div#link button#github {
    background-color: #5C6166;
    transform: translate(209%,-200%);
    padding-left: 1.5em;
    margin-left: 1%;
}
div#link button#github img {
    left: 1.8em;
    top: 0.73em;
}
